body {
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
}


.table-container {
  
  
  margin-left: 39rem;
}





#color1 {
  background-color: blue;
  padding:5rem;
  color: aliceblue;
  display: flex;
  justify-content: center;
}

#color2 {
  background-color: yellow;
  padding:5rem;
  color: aliceblue;
  display: flex;
  justify-content: center;
 
}
#color3 {
  background-color: purple;
  padding:5rem;
  color: aliceblue;
}
#color4 {
  background-color: orangered;
  padding:5rem;
  color: aliceblue;
}

